# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Daham/.vs/ProjectSettings.json
Daham/.vs/slnx.sqlite
Daham/.vs/VSWorkspaceState.json
Daham/.vs/Daham/v16/.suo
Daham/.vs/YutNori/v16/.suo
Daham/.vs/YutNori/v16/Browse.VC.db
Daham/.vs/YutNori/v16/Browse.VC.db-shm
Daham/.vs/YutNori/v16/Browse.VC.db-wal
Daham/.vs/YutNori/v16/Browse.VC.opendb
Daham/.vs/YutNori/v16/ipch/AutoPCH/130ff5e9fbfc1a54/YUTNORI.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/a28c022d04200974/YUTNORI.ipch
Daham/Debug/YutNori.pdb
Daham/YutNori/Debug/vc142.idb
Daham/YutNori/Debug/vc142.pdb
Daham/YutNori/Debug/vcpkg.applocal.log
Daham/YutNori/Debug/YutNori.exe.recipe
Daham/YutNori/Debug/YutNori.ilk
Daham/YutNori/Debug/YutNori.log
Daham/YutNori/Debug/YutNori.tlog/CL.command.1.tlog
Daham/YutNori/Debug/YutNori.tlog/CL.read.1.tlog
Daham/YutNori/Debug/YutNori.tlog/CL.write.1.tlog
Daham/YutNori/Debug/YutNori.tlog/link.command.1.tlog
Daham/YutNori/Debug/YutNori.tlog/link.read.1.tlog
Daham/YutNori/Debug/YutNori.tlog/link.write.1.tlog
Daham/YutNori/Debug/YutNori.tlog/YutNori.lastbuildstate
Daham/.vs/YutNori/v16/ipch/AutoPCH/234a5eb526cf370e/YUTNORIFRAMEWORK.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/244c89de9818bb/NODE.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/443344a6ba7d966b/PLAYER.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/6fdff9d497565582/MAP.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/751bb4a592812506/NODE.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/944c2939bcf3c2dc/FRAMEWORK.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/ddcaa69dfa920abc/BOARD.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/e80013673afbd4de/FFFF.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/30eff57ef69e46b4/CONSOLEBOARD.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/41b774404d75debd/CONSOLEBOARD.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/54db362124d3b159/CONSOLEGRAPHICS.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/7cef4d8cf4ee3141/CONSOLENODE.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/7dbebe055a059d7f/IPLAYER.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/932951ad33eb846d/BOARD.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/991498094658ee94/CONSOLEPLAYER.ipch
Daham/.vs/YutNori/v16/ipch/AutoPCH/fb51859e167ca058/CONSOLEGRAPHICS.ipch
